__pycache__/
*.py[cod]
*$py.class
**/.venv
**/env
**/venv
**/ENV
.env
.env.local
.env.global.local

.dockerignore
Dockerfile
*.Dockerfile
docker-compose*.yml

.vscode/
.idea/
.git/

services/tts/models/
services/stt/*/models/
services/llm/*/models/
services/embedding/*/models/
**/cache/
**/logs/
**/data/
.local_db/

**/*.safetensors
**/*.bin
**/*.pt
**/*.pth
**/*.gguf
**/*.onnx
**/*.zip
**/*.tar.gz
**/*.exe
**/*.dll

!**/models/*.py
!**/models/__init__.py
!**/models/**/*.py