# =============================================================
# Orion Global Local Settings Example
# =============================================================

# --- Admin API ---
ADMIN_API_KEY=orionadmin

# --- Orion Router ---
ADMIN_SECRET=orion
