# Ignore model files in service directories
embedding/infinity/models/
llm/llama-cpp/models/
stt/whisper/models/
tts/models/
embedding/llama-cpp-embed/models/

.env.global.local
.venv/
.env
__pycache__/

*.py[cod]
*$py.class
*.egg-info/
build/
dist/

.disabled